body {
	font-family: 'Quicksand', sans-serif;
	background-image: url("./images/weather.jpg");
	background-size: cover;
	text-align: center;
	color: #276ab3;
}

.title {
	padding-bottom: 6px;
	font-size: 3em;
}

.grid-container {
	display: grid;
	justify-content: center;
	height: 100vh;
}

.grid-item {
	background-color: #FFF;
	padding: 15px 15px 45px;
	align-self: center;
	border-radius: 6px;
}

#forecast-search {
	padding-bottom: 30px;
}