body {
	font-family: 'Quicksand', sans-serif;
	background-image: url("./images/weather.jpg");
	background-size: cover;
	text-align: center;
	color: #276ab3;
}

.grid-container {
	display: grid;
	justify-content: center;
	height: 100vh;
}

.grid-item {
	background-color: #FFF;
	padding: 15px 15px 45px;
	align-self: center;
	border-radius: 6px;
}

#forecast-search {
	padding-bottom: 30px;
}

hr {
    border: 0;
    height: 1px;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}